<section class="signing-container">
  <div class="signing-left">
    <mat-card appearance="outlined">
      <mat-card-title><span>Login</span></mat-card-title>

      <form [formGroup]="signInForm" class="signing-form">
        <span matCardSubtitle>Username</span>
        <mat-form-field class="form-field">
          <input
            formControlName="username"
            matInput
            placeholder="Enter Username" />
          <mat-icon matSuffix style="color: #9333ea">person</mat-icon>
          @if (signInForm.get('username')?.hasError('required')) {
            <mat-error> The password is required</mat-error>
          }
        </mat-form-field>

        <span matCardSubtitle>Password</span>
        <mat-form-field class="form-field">
          <input
            [type]="hide$() ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Enter password" />
          <button
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide$()"
            mat-icon-button
            matSuffix>
            <mat-icon style="color: #9333ea"
              >{{ hide$() ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          @if (signInForm.get('password')?.hasError('required')) {
            <mat-error> The password is required</mat-error>
          }
        </mat-form-field>

        <button
          (click)="signIn()"
          [disabled]="!signInForm.valid"
          [ngStyle]="{
            'background-color': !signInForm.valid ? 'white' : '#9333ea',
          }"
          mat-flat-button>
          Sign In
        </button>
      </form>
    </mat-card>
  </div>

  <div class="signing-right">
    <div class="branding">
      <h1>STACKADEMICS</h1>
      <h2>Generate, Process and Manage Student Data</h2>
      <h3 style="font-style: italic">A Compulynx practical</h3>
    </div>
  </div>
</section>
