.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0 6px 0 0;

  @media screen and (min-width: 1441px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  @media screen and (min-width: 993px) and (max-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(
      3,
        1fr
    ); /* Keeping 3 items for medium screens */
    grid-gap: 20px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
