.signing-container {
  display: flex;
  height: 100vh;

  .signing-left, .signing-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-mdc-card {
    width: 100%;
    max-width: 80%;
    background-color: #1e2638;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    .mat-mdc-card-title {
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: 425px) {
      max-width: 97%;
    }
  }

  .form-field {
    --mdc-outlined-text-field-container-shape: 28px !important;
  }


  .signing-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    span {
      color: white;
    }
  }


  .signing-right {
    background: linear-gradient(135deg, #312e81, #9333ea);
    color: #f3f4f6;
    flex-direction: column;

    .branding {
      text-align: center;
      padding: 0 2rem;

      .logo {
        width: 60px;
        height: auto;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 2rem;
        font-weight: bold;
      }

      h2 {
        margin-top: 0.5rem;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .signing-right {
      display: none;
    }

    .signing-left {
      flex: unset;
      padding: 2rem 1rem;
    }
  }
}
