.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e2638;

  .sidenav-container {
    flex: 1;

    .mobile-sidenav {
      width: 250px;
      background: white;

      .sidenav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #0F172A;

        h2 {
          margin: 0;
        }
      }

      .mobile-nav-links {
        flex: 1;
        overflow: auto;

        a, button {
          color: #f3f4f6;

          &.active {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }

        .bottom-part {
          margin-top: 10%;
        }
      }
    }

    .top-nav {
      background: linear-gradient(135deg, #312e81, #9333ea);
      display: flex;
      align-items: center;
      padding: 0 1rem;

      .topper-content {
        justify-content: space-between;
        display: flex;
        color: #f3f4f6;
        margin: auto 10%;
        background-color: transparent;

        .logo {
          h1 {
            font-weight: bold;
            margin: 0;
          }
        }

        .nav-links {
          display: flex;
          gap: 1rem;

          a, button {
            //font-weight: bold;
            color: #f3f4f6;

            &.active {
              background-color: rgba(255, 255, 255, 0.1);
              border-radius: 4px;
            }
          }
        }

        .mobile-menu-toggle {
          display: none;
        }

        .user-actions {
          display: flex;

          button {
            color: #f3f4f6;
          }

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        @media screen and (max-width: 768px) {
          margin: auto;
        }
      }
    }

    .content-container {
      margin: 1rem 10%;

      @media screen and (max-width: 768px) {
        padding: 1rem;
        margin: 0.3rem 3%;
      }

      @media screen and (max-width: 768px) {
        margin: auto;
      }

      .dashboard-content {
        margin: 1rem auto;
        flex: 1;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .center-card {
          overflow-x: hidden;
          padding: 0.3rem;
          flex: 1;
          background-color: #2a3448;
          border-radius: 12px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          border-color: #9333ea;
        }

        .side-card {
          border-color: #9333ea;
          width: 20%;
          background-color: #2a3448;
          border-radius: 12px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          max-height: 420px;
          //max-height: 540px;

          mat-divider {
            height: 1px;
            margin: 0.34rem;
            background-color: #9333ea;
          }

          @media screen and (max-width: 1426px) {
            min-height: 450px;
          }

          @media screen and (max-width: 1120px) {
            min-height: 500px;
          }

          @media screen and (max-width: 1099px) {
            min-height: 540px;
          }

          .mat-mdc-card-title {
            padding: 0.8rem;

            h2 {
              font-weight: 600;
              color: white;
            }
          }

          .mat-mdc-card-content {
            p {
              color: white;
            }
          }

          .mat-mdc-card-actions {
            display: flex;
            justify-content: flex-end;
            //gap: 0.5rem;

            button {
              background-color: #9333ea;
              color: white;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          .side-card {
            display: none;
          }
        }
      }
    }

  }

  // Responsive Design
  @media screen and (max-width: 768px) {
    .sidenav-container {
      .top-nav {
        .topper-content {
          .desktop-nav {
            display: none;
          }

          .mobile-menu-toggle {
            display: block;
          }
        }
      }

      .dashboard-content {
        .side-card {
          display: none;
        }
      }
    }
  }
}
