<section class="CU-page-styler">
  <div>
    <h2>Generate Student Data</h2>
  </div>
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-card-subtitle style="color: white"
        >Please input number of records to generate
      </mat-card-subtitle>
      <form [formGroup]="dataForm">
        <div class="fieldset">
          <!-- First Name -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>No. records</mat-label>
            <mat-hint>Range: 1 - 1 Million Records</mat-hint>
            <input
              formControlName="numberOfRecords"
              matInput
              placeholder="No. records"
              type="number" />
            @if (dataForm.get('numberOfRequests')?.hasError('required')) {
              <mat-error>First Name is required</mat-error>
            }
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- Submit Button -->
      <button
        (click)="onSubmit()"
        [disabled]="!dataForm.valid"
        [style.background-color]="dataForm.valid ? '#9333ea' : '#312E81'"
        mat-flat-button
        style="color: white"
        type="submit">
        @if (isLoading$()) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          <span>Submit</span>
        }
      </button>
    </mat-card-actions>
  </mat-card>

  <button
    (click)="onQuit()"
    mat-flat-button
    style="background-color: #9333ea; color: white; margin-top: 1rem">
    Back
  </button>
</section>
