.empty-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
